.uppercase {
  text-transform: uppercase;
  color: white;
}

.background {
  background-image: url(header.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.glyphicon-envelope, .glyphicon-cloud-download {
  font-size: 2.5em;
}

.video {
  background-image: url(video.jpg);
  height: 400px;
  background-size: cover;
}

.glyphicon-play-circle {
    font-size: 3em;
    color: white;
    margin-top: 180px;
}

.panel-default, .thumbnail {
  margin-top: 50px;
}

.panel:hover {
  background-color: #86CFB5;
  transition: all 0.7s;
}

.progress {
  margin-top: 20px;
}
.progress-bar{
  background-color: #65BC9C;
}

.backgroundb {
  background-color: #1A1E23;
  margin-top: 50px;
  height: 400px;
}

.backgroundc {
  margin-top: 100px;
  background-image: url(counter-bg.jpg);
  background-attachment: fixed;
  height: 400px;
}

.glyphicon-thumbs-up, .glyphicon-flash {
  margin-top: 150px;
  font-size: 4em;
}

.thumbnail, h3:hover {
  color: #68C3A3;
}

.form-horizontal {
  margin-top: 20px;
}

input, textarea, .btn-default, .backgroundblack {
  margin-top: 30px;
}

.backgroundblack {
  background-color: #1A1E23;
  height: 100px;
}

.backgroundblack p {
  color: white;
  margin-top: 30px;
}
